<div
  id="<%= dom_id practitioner_availability %>"
  class="w-full sm:w-auto my-5 space-y-5"
>
  <div>
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= practitioner_availability.start_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End time:</strong>
    <%= practitioner_availability.end_time %>
  </div>
</div>
