<header
  class="absolute inset-x-0 top-0 z-50 flex h-16 border-b border-gray-900/10"
>
  <div
    class="
      mx-auto flex w-full max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8
    "
  >
    <div class="flex flex-1 items-center gap-x-6">
      <button type="button" class="-m-3 p-3 md:hidden">
        <span class="sr-only">Open main menu</span>
        <!-- Menu icon SVG -->
      </button>
      <img
        class="h-8 w-auto"
        src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600"
        alt="Your Company"
      >
    </div>
    <nav
      class="
        hidden md:flex md:gap-x-11 md:text-sm/6 md:font-semibold md:text-gray-700
      "
    >
      <a href="#">Home</a>
      <a href="#">Invoices</a>
      <a href="#">Clients</a>
      <a href="#">Expenses</a>
    </nav>
    <div class="flex flex-1 items-center justify-end gap-x-8">
      <!-- Notifications & Profile -->
    </div>
  </div>
</header>
