<h2>Hello
  <%= @profile.name.presence || @profile.user.name %>,</h2>
<p>Your Docline subscription has been
  <b>canceled</b>. You will retain access until the end of your current billing period.</p>
<p>If you have any questions or wish to reactivate your license, you can always
  log in to your dashboard.</p>
<p>
  Thank you for being a part of Docline!<br>
  The Docline Team
</p>
