<strong>Hello
  <%= @user.name %>,</strong>

<p>Welcome to
  <strong>Docline</strong>! We’re thrilled to have you on board.</p>

<p>
  If you need any help getting started, just drop us a line at
  <a href="mailto:silva@cfsilva.com">silva@cfsilva.com</a>. We’re here to support you every step of the way.
</p>

<p>Happy scheduling!</p>

